<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="confirmModal(pageNo, kw, fdVal)">
    <div class="modal fade" id="confirmActionModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalTitle">Confirm Action</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p id="confirmModalMessage" class="mb-0">Are you sure?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>

                    <form id="confirmActionForm" method="post" th:action="@{/user-management}">
                        <input type="hidden" name="action" id="confirmActionInput">
                        <input type="hidden" name="id" id="confirmUserIdInput">

                        <input type="hidden" name="page" th:value="${pageNo}">
                        <input type="hidden" name="keyword" th:value="${kw}">
                        <input type="hidden" name="field" th:value="${fdVal}">

                        <button type="submit" class="btn btn-danger" id="confirmActionBtn">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>